div.polaroid {
    width: 40%;
    background-color: white;
    border-radius: 2%;
    margin: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

  }
  .polaroid:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
   }
  
  div.container {
    text-align: center;
    
  }
  .image {
  
          display: block;
  width: 100%;
  height: auto;
  border-radius: 2%;
      padding:3%;
          
      

 }
 @media screen and (max-width: $sm-break) {
div.polaroid {
 width: 90%;
 margin:5%;
display: block;
}
}